@model System.Collections.Generic.List<ChessClubManagement.Models.Students>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Students";
}

<div>
    <h1>Students</h1>      
    <hr />
    <table class="table table-striped table-hover">
        <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>Division</th>
            <th></th>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentFname @student.StudentLname</td>
                <td>placeholder</td>
                <td>@student.DivisionId</td>
                <td><form asp-controller="Students" asp-action="Edit" asp-route-id="@student.StudentId"><input type="submit" value="Edit Student" class="btn btn-warning" /></form></td>
            </tr>
        }
    </table>
</div>