<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chess Club Management</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.superhero.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.superhero.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Chess Club Management</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Members" asp-action="Index">Members</a></li>
                    <li><a asp-area="" asp-controller="Matches" asp-action="Index">Matches</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-controller="Home" asp-action="Profile" asp-route-id="">Hello @User.Claims.First(c => c.Type.Equals("nickname")).Value</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content">
    @RenderBody()
    <hr />
</div>
<br />
    <div class="text-center">
        <footer>
            <p>&copy; 2017 - Chess Club Management</p>
        </footer>
    </div>

<environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://cdn.auth0.com/js/auth0/8.0.4/auth0.min.js"></script>
    <script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <script src="https://cdn.auth0.com/js/auth0/8.0.4/auth0.min.js"></script>
    <script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
    
@*<script>
    var options = {
        allowedConnections: ['ChessClubManagement']
    }

    // Initiating our Auth0Lock
    var lock = new Auth0Lock(
        'pEUSkBUEFmD407rFhSSIddyJxyC57ObI',
        'robertmccoy.auth0.com',
        options
    );

    // Listening for the authenticated event
    lock.on("authenticated", function (authResult) {
        // Use the token in authResult to getUserInfo() and save it to localStorage
        lock.getUserInfo(authResult.accessToken, function (error, profile) {
            if (error) {
                console.log("something went wrong");
                return;
            }
            localStorage.setItem('accessToken', authResult.accessToken);
            localStorage.setItem('profile', JSON.stringify(profile));
        });
    });
</script>

<script>
    document.getElementById('btn-login').addEventListener('click', function () {
        lock.show();
    });
</script>
    
<script>
    var token = localStorage.getItem('accessToken');
    if (token) {
        showLoggedIn();
    }

    // Display the user's profile
    function showLoggedIn() {
        var profile = JSON.parse(localStorage.getItem('profile'));
        document.getElementById('nick').textContent = profile.nickname;
    }
</script>*@

@RenderSection("scripts", required: false)
</body>
</html>
