<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chess Club Management</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.cerulean.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.cerulean.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Chess Club Management</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Members" asp-action="Index">Members</a></li>
                    <li><a asp-area="" asp-controller="Members" asp-action="Standings">Rankings</a></li>
                    <li><a asp-area="" asp-controller="Matches" asp-action="Index">Matches</a></li>
                    @if (User.Claims.Any(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" && c.Value == "admin"))
                    {
                        <li><a asp-area="" asp-controller="Admin" asp-action="Index">Administration</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content">
    @RenderBody()
</div>
<br />
    <div class="text-center">
        <footer>
            <hr />
            <img src="~/images/logo.png" class="img-thumbnail" style="width: 20%; heigh: auto;"/>
            <p>&copy; 2017 - IPFW Chess Club</p>
        </footer>
    </div>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://cdn.auth0.com/js/auth0/8.0.4/auth0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script src="https://cdn.auth0.com/js/auth0/8.0.4/auth0.min.js"></script>
    <script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

<script language="javascript" type="text/javascript">
    function GetDivisions(_seasonId) {
        $("#showdivisions").html("Loading Divisions...").show();
        var url = "/Admin/GetDivisionsBySeason/";

        $.ajax({
            url: url,
            data: { id: _seasonId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "Divisions in this season: ";
                for (var x = 0; x < data.length; x++) {
                    if (x !== data.length - 1) {
                        markup += data[x] + ", ";
                    } else {
                        markup += data[x];
                    }
                }
                $("#showdivisions").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>
    
    <script language="javascript" type="text/javascript">
        function GetDivisionsForSeasonDropDown(_seasonId) {
            $("#divisiondropdown").html('<option value="0">Loading Divisions...</option>').show();
        var url = "/Members/GetDivisionsBySeason/";

        $.ajax({
            url: url,
            data: { id: _seasonId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select A Division</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].value + ">" + data[x].text + "</option>";
                }
                $("#divisiondropdown").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
    </script>

<script language="javascript" type="text/javascript">
    function GetStudent2DropDown(_divId) {
        $("#student2dropdown").html("<option value='0'>Loading Students...</option>").show();
        var url = "/Admin/GetStudentsInDivision/";

        $.ajax({
            url: url,
            data: { divisionId: _divId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select A Student</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].value + ">" + data[x].text + "</option>";
                }
                $("#student2dropdown").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
    </script>

    <script language="javascript" type="text/javascript">
        function GetStudentsInSeason(_seasonId) {
        $("#student1dropdown").html("<option value='0'>Loading Students...</option>").show();
        var url = "/Admin/GetStudentsInSeason/";

        $.ajax({
            url: url,
            data: { seasonId: _seasonId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select A Student</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].value + ">" + data[x].text + "</option>";
                }
                $("#student1dropdown").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
    </script>
    
<script>
    $(document).ready(function () {
        $("[name=datePicker]").datepicker({
            daysOfWeekDisabled: [0,1,2,3,4,5]
        });
    });
</script>
    
<script language="javascript" type="text/javascript">
    function GetNext15Days(_startDate) {
        if (_startDate !== "") {
            $('#datePickerDate').attr('value',_startDate);
            console.log($('#datePickerDate').val());
            var date = new Date(_startDate);
            var next15Days = "Dates that matches will be generated for: ";
            for (var x = 0; x < 15; x++) {
                date.setDate(date.getDate() + 7);
                if (x !== 14) {
                    next15Days += (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear() + ", ";
                } else {
                    next15Days += (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear();
                }
            }
            $("#show15weeks").html(next15Days).show();
        }
    }
</script>

    <script language="javascript" type="text/javascript">
        function UpdateMatchDate(_startDate) {
        if (_startDate !== "") {
            $('#datePickerDate').attr('value',_startDate);
        }
    }
    </script>

@RenderSection("scripts", required: false)
</body>
</html>
