@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Welcome to the Chess Club Management System</h1>
        <ul>
            <li><a asp-controller="Home" asp-action="Login">Login</a></li>
            <li><a asp-controller="Students" asp-action="Index" asp-route-sort="rankings">View Current Rankings</a></li>
            <li><a href="#">View Upcoming Matches</a></li>
            <li><a href="#">Access Administrator Portal</a></li>
        </ul>
    </div>
</div>
