@model ChessClubManagement.ViewModels.RegistrationViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Registration";
}
<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <h1>Sign Up</h1>
        <hr />
        <form asp-controller="Home" asp-action="Registration">
            <label asp-for="Name"></label>
            <input asp-for="Name" id="name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
            <br />
            <br />
            <label asp-for="Email"></label>
            <input asp-for="Email" id="email" type="email" class="form-control" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
            <br />
            <br />
            <label asp-for="Password"></label>
            <input asp-for="Password" id="password" type="password" class="form-control" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <br />
            <br />
            <input type="submit" id="signupdb" value="Sign Up" class="btn btn-default">
        </form>
    </div>
</div>